body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: linear-gradient(135deg, #1A1A1A, #333);
}

#intro-container, #game-container, #ranking-container {
    display: none;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 900px;
    margin-top: 100px;
    border: 3px solid #FF2D2D;
}

#intro-container {
    display: block;
}

h1 {
    font-size: 36px;
    color: #FF2D2D;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #ccc;
}

#start-btn {
    background-color: #FF2D2D;
    color: white;
    font-size: 22px;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#start-btn:hover {
    background-color: #C24D4D;
}

#word-to-type {
    font-size: 32px;
    font-weight: bold;
    color: #FF2D2D;
    margin-top: 40px;
    animation: word-fade-in 1s ease-out;
}

@keyframes word-fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#input-text {
    margin-top: 30px;
    padding: 15px;
    font-size: 24px;
    border: 2px solid #FF2D2D;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    background-color: #2B2B2B;
    color: #fff;
    transition: border-color 0.3s, background-color 0.3s;
}

#input-text:focus {
    outline: none;
    border-color: #C24D4D;
}

#timer, #score {
    font-size: 26px;
    color: #FF2D2D;
    margin-top: 30px;
    font-weight: bold;
}

#result {
    font-size: 28px;
    margin-top: 40px;
    color: #32CD32;
}

#ranking {
    margin-top: 50px;
    font-size: 22px;
    color: #FF2D2D;
}

.ranking-item {
    background-color: #444;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
}

.ranking-item span {
    color: #FF2D2D;
}

